/* assignment one  */

div{
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 40px;
}

.green {
    background-color: green;
    z-index: 2;
    margin-left: 50px;
}

.red {
    background-color: red;
    z-index: 3;
    margin-left: 60px;
    margin-top: 54px;
}

.blue {
    background-color: blue;
    z-index: 1;
    top : -5px;

}

.black {
    background-color: black;
    z-index: 0;
}

/* assignment two  */

div {
    left : calc((100% - 400px) / 2) ;
    text-align: center;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    width: 400px;
    background-color: #EEE;
    padding: 20px;
    position: relative;
}
span {
    background-color: blue;
    padding: 4px;
}

.top-left {
    position: absolute;
    left: -6px;
    top: -10px;
}

.bottom-left {
    position: absolute;
    bottom: -10px;
    left: -6px;
}

.top-right {
    position: absolute;
    top: -10px;
    right: -6px;
}

.bottom-right {
    position: absolute;
    bottom: -10px;
    right: -6px;
}

/* assignment three */

ul {
    display:table;
    margin:0px auto 0px auto;
    width: 400px;
}

.a ,
.b,
.c{
    list-style-type: none;
}

ul li {
    background-color: #EEE;
    margin: 10px;
    padding: 10px;
    margin-left: 0px;
}

.a li {
    background-color: white;
}
.b li {
    background-color: white;
    
}
.c li {
    background-color: white;
    list-style-position: inside;
}

.x {
    padding-left: 0px;
}

/* <!-- assignment four --> */


table {
    width: 100%;
    border-bottom: 2px solid green;
    text-align: center;
}

table td {
    padding: 15px;
    background-color: #EEE;
}

table th {
    color: white;
    padding: 10px;
    background-color: rgb(40, 8, 8);
}

.a {
    color: white;
    background-color: blue;
    border: none;
}
.b {
    color: white;
    background-color: pink;
    border: none;
}
