/* <!-- assignment one --> */
/* 
div p {
    background-color: #EEE;
    border: 3px solid ;
    border-color: inherit;
    text-align: center;
    margin: 14px;
    padding: 13px;
}
div{
    border: 3px solid red;
} */
/* <!-- assignment two --> */
/* .one {
    font-family: 'Open Sans', sans-serif;
}

.two {
    font-family: 'Cairo', sans-serif;
}

.three {
    font-family: 'Jomhuria', cursive;
} */
/* <!-- assignment three --> */

/* html {
    font-size: 20px;
    text-align: center;
}

.one {
    font-size: 2.5rem;
}

.two {
    font-size: 2rem;
}

.three {
    font-size: 1.5rem;
} */