/* <!-- assignment one --> */
/* .parent .child  .title {
    color: red;
}
.parent .title {
    color: blue;
}

div p , 
.title {
    color: green;
}
 */




/* <!-- assignment two --> */

/* div {
    background-color: brown;
    color: white;
    max-width: 400px;
    width: fit-content;
    margin: 10px;
    padding: 20px;
} */

